$bg: rgb(128, 226, 226);//lang info
$bgh: rgb(48, 15, 48);//heading
$bgf: rgb(243, 201, 243);//founder

$p: absolute;
$tah: center;// h1 align

$c: rgb(119, 7, 41);
$ch: white;

$h: 90px;
$w: 100px;

$hi: 600px;
$wi: 600px;

$hf: 200px;
$wf: 500px;