
// @for $i from 1 to 6 {
//     h#{$i}
//     {
//         padding: $i * 100px;
//     }
// }

$h: 100px;
$w: 100px;
$c: (1:blue,2:red,3:orange,4:Green);
@for $i from 1 to 5 {
    .div#{$i}{
        background-color: map-get($map: $c, $key: $i );
        height: $h;
        width: $w;
    }
}


